<div th:replace="parts/header"></div>

<h3>Добро пожаловать на наш сервис документооборота!</h3>

<div id="mainDescr">

    <b>Уважаемые посетители!</b>
    <br>
    На нашем Сервисе вы можете просматривать, добавлять, удалять документы для общего документооборота.
    <br>
    Для просмотра списка документов и каждого документа по отдельности, необходима авторизация.
    <br>
    Для добавления и удаления документов необходимо авторизироваться как администратор Сервиса.
    <br>
    <br>

    <b>Вход на сервис:</b><br>
    как <b>Admin</b>   (логин: <b>Admin</b>  пароль: <b>123</b>);<br>
    как <b>User </b>    (логин: <b>User</b>, пароль: <b>123</b>).<br>
    <hr>

</div>

<div th:replace="parts/footer"></div>


